$color: red;

h1 {color: $color;}
p{color: $color;}

nav{
    ul > {
        li {
            margin: 10px;
            &:last-child {
                padding: 10px;
            }
            @at-root a {
                color: antiquewhite;
                }     
        }
    }


    // a {
    //     color: red;
    // }
}

// 정의
@mixin define-emoji($name, $glyph) {
    span.emoji-#{$name} {
        font-family: IconFont;
        font-variant: normal;
        font-weight: normal;
        content: $glyph;
        color: aquamarine;
    }
}

// 사용
@include define-emoji("women-holding-hands", "안녕");
