@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&display=swap');
@import url('./reset.css');
/* header, footer, reset */

.button--shape {
	background-color: #e91b1b; /* Green */
	border: none;
	color: white;
	padding: 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
  }

.header {
	position: fixed;
    width: 100%;
    z-index: 2;
    background: white;
}

/* 모바일: 0~766px */
.header__nav {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.header__nav > h1{
	width: 100px;
	height: 120px;
	line-height: 120px;
}

.header__nav > h1 .logo {
	vertical-align: middle;
}

.header__nav > .menu {
	width: calc(100% - 100px);
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 120px;
} 

.header__nav nav{
	/* 1100px ÷ 1200px */
	width: calc(100% - 168px);
}

.header__nav nav > ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 20px;
	font-size: 1.3em;
}

.header__nav .delivery-order {
	width: 168px;
}

.header__nav .delivery-order > .button {
	border-radius: 35px;
	margin-top: 15px;
	font-size: 1.2em;	
}

.footer{
	/* height:680px; */
	height: 350px;
	background:#2b0200;
	color: rgb(236, 229, 203);
}

.footer__level1 {
	display: none;
}

.footer__level1 > ul.sitemap {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	max-width: 1140px;
	margin: 0 auto;
	padding: 35px 30px;
	border-bottom: 1px solid;
}

.footer__level1 ul.sitemap__list > li  {
	padding: 8px 0;
	font-size: 0.9rem;
}

.footer__level1 > ul.sitemap a.top {
	font-size: 1.5rem;
	margin-bottom: 15px;
	display: inline-block;
}

.footer__level1 > ul.sitemap a{
	color: white;
}

.footer__level2 > div {
	max-width: 1140px;
	/* margin: 60px auto 0; */
	display: flex;
	flex-direction: column;
}



.footer__level2 ul {
	display: flex;
	flex-direction: row;
	padding: 30px 20px;
	justify-content: space-between;
}

.footer__level2 .button-line {
	text-align: right;
	padding-right: 20px;
}

.footer__level2 .address-line {
	padding: 50px 10px 0;
}

.footer__level2 .address-line > * {
	text-align: left;
}

.footer__level2 .address-line > h2 {
	padding-bottom: 20px;
}

.footer__level2 .address-line > div {
	padding-top: 20px;
}

/* 테블릿: 767px 이상*/
@media all and (min-width:767px){
	.footer{
		height:680px;
	}

	.footer__level1 {
		display: block;

	}

	.footer__level2 > div {
		max-width: 1140px;
		margin: 60px auto 0;
		display: flex;
		flex-direction: row-reverse;
		padding: 0 30px;
	}

	.footer__level2 > div > .private-line {
		width: 30%;
	}
	
	.footer__level2 > div > .address-line {
		width: 70%;
		padding: 0;
	}
}

/* pc: 1024px 이상 */
@media all and (min-width:1024px){ 
	/* .footer__level1 {
		display: block;
	} */
	

}